.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 15%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 30%
  &-4
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 15%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-principal__img
  padding-bottom: 0px !important
  width: 550px
  @media screen and ( max-width: $bp-max-xl )
    width: 460px
  @media screen and ( max-width: $bp-max-lg )
    width: 400px

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important

.titulo-principal.color-acento-contenido .titulo-principal__numero
  background-color: #4ADBD1